<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <header>
   <nav>
    <div class="logo">Tech Blog</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      {{#if isAuthenticated}}
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
  </header>

  <main class="container">
    {{{body}}}
  </main>
<script src="/js/main.js"></script>

  <footer>
    &copy; 2023 Tech Blog
  </footer>
</body>

</html>