<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header>
   <nav>
    <div class="logo">Tech Blog</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">dashboard</a></li>
      <li><a><button id="logout" class="btn-no-style logout">logout</button></a></li>
      {{#if isAuthenticated}}
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
  </header>

  <main class="container">
    {{{body}}}
  </main>

<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>


  <footer>
    &copy; 2023 Tech Blog
  </footer>
</body>

</html>